@import "@fortawesome/fontawesome-free/css/all.css";

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-items: center;
}

.align-center {
    align-items: center;
}

.button {
    padding: 5px 20px;
    border: 1px solid gray;
    display: inline-block;
    cursor: pointer;
    user-select: none;
}
